<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="primary">
      Bares
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let bar of bares" (click)="barTapped(bar)">
        <ion-thumbnail slot="start">
          <img src="{{bar.cover}}">
        </ion-thumbnail>
        <ion-label> {{bar.name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-toolbar>
  
  <ion-title slot="primary">
    Desarrollo de Interfaces
  </ion-title>
</ion-toolbar>